name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true  # Nếu có file lớn, sử dụng Git LFS

      - name: Set up Git
        run: |
          git config --global user.email "your-email@example.com"
          git config --global user.name "Your Name"

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN_KIEMTRALOI }}
        run: |
          git remote add hf https://vuhuudung:$HF_TOKEN@huggingface.co/spaces/vuhuudung/kiemtraloi || true
          git push --force hf main
